.Category-Wrapper {
    width: 80%;
    margin: auto;
    height:100%;
}
@media only screen and (min-width:768px){
    .Category-Left {
        width: 20%;
        float: left;
        margin-bottom: 40px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .Category-Right {
        width: 80%;
        float: right;
        margin-bottom: 40px;
    }
}
@media only screen and (max-width:768px){
    .Category-Left {
        display:none;
    }
    .Category-Right {
        width: 100%;
        margin:auto;
        margin-bottom: 40px;
    }
    
   
}


.Category-Left h3 {
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 24px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.67;
    letter-spacing: normal;
    color: #333333;
}
.Content-Left i{
    border: solid blue;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 5px;
}
.Category-Left p {
    cursor: pointer;
    padding-left:15px;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 3.33;
    letter-spacing: 1px;
    color: #818181;
}
.Category-Left p:hover{
    padding-left:15px;
    opacity: 1;
    
}
.Category-Left span {
    cursor: pointer;
    font-family: AvenirNext;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 3.33;
    letter-spacing: 1px;
    color: #33333a;
    margin-bottom:50px;
}



.Category-Header-Image img {
    width: 100%;
    height: 100%;
}

.Category-Header {
    height: 70px;
    background-color: #ffffff;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.05);
    margin-bottom: 40px;
}

.Category-Header-Image {
    position: relative;
}

.Category-Heading-Image-Name {
    position: absolute;
    top: 6vw;
    font-family: AvenirNext;
    font-size: 5vw;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.13;
    letter-spacing: normal;
    text-shadow: 0 4px 5px rgba(0, 0, 0, 0.5);
}

.Category-Heading-Image-Desc {
    position: absolute;
    top: 13vw;
    width: 30%;
    height: 90px;
    font-family: AvenirNext;
    font-size: 1.7vw;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.23;
    letter-spacing: normal;
    text-shadow: 0 4px 5px rgba(0, 0, 0, 0.5);
    position: absolute;
}

.Category-Header p {
    font-family: AvenirNext;
    margin-left: 10%;
    padding-top: 15px;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.22;
    letter-spacing: normal;
    color: #0231b7;
}

.Category-Wrapper .Item-Container {
    height: 347px;
}

.Category-Right .Product-Image>img{
    height:200px;
}