.Thanks-Header {
    height: 80px;
    display: flex;
    align-items: center;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.05);
}

.Thanks-Header div {
    width: 85%;
    margin: auto;
    font-family: 'NunitoSans', sans-serif;
    font-size: 22px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #78909c;
}

.Thanks-Content {
    text-align: center;
    padding: 68px;
}

.Thanks-Title {
    font-family: 'NunitoSans', sans-serif;
    font-size: 22px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #78909c;
    margin-bottom: 56px;
}

.Thanks-Description {
    font-family: 'NunitoSans', sans-serif;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: rgba(38, 50, 56, 0.86);
    margin-bottom: 16px;
}

.Thanks-Email {
    font-family: 'NunitoSans', sans-serif;
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #263238;
    margin-bottom: 32px;
}

.Send-Email {
    font-family: 'NunitoSans', sans-serif;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #2196f3;
}

.Thanks-Continue-Shopping {
    width: 216px;
    height: 48px;
    border-radius: 4px;
    border: solid 1px #979797;
    display:flex;
    align-items: center;
    justify-content: center;
    margin:auto;
    color:#2196f3;
}