.Product-Container {
    width: 80%;
    margin: 40px auto;
}

.Review {
    margin-top: 60px;
    padding-top:10px;
    padding-left:10px;
    height:470px;
    overflow: auto;
    background-color: #fcfcfc;
}

.Review-Heading {
    width: 356px;
    height: 60px;
    font-family: "NunitoSans",sans-serif;
    font-size: 42px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: normal;
    text-align: center;
    color: #33333a;
    margin-bottom:20px;
}
.Overall-Rating{
    margin-bottom:30px;
    color: #666666;
}
.Overall-Rating span{
    margin-left: 18px;
}
.Top-Reviews{
    color: #33333a;;
    font-size:16px;
}
.Single-Review{
    margin:20px 0px;
    
}
.Review-Name{
    color: #666666;
    margin-bottom:20px;

}
.Review-Star span{
    margin-left:20px;
    color: #666666;
}
.Review-Content-Product{
    color: #666666;
    max-height:40px;
    font-size: 15px;
    overflow:auto;
}