@media only screen and (min-width:768px) {
    
    .Price-Calculation{
        justify-content: flex-end;
    
        height: 207px;
        width: 80%;
        padding-right: 20px;
        
    }
    .Price-Listing {
        display: flex;
        width: 30%;
        
        justify-content: space-between;
        height: 100%;
    }
    .Price-Content>div {
        opacity: 0.64;
        font-family: 'NunitoSans', sans-serif;
        font-size: 16px;
        font-weight: 400;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #37474f;
    }
    .Price-Value>div {
        width: 128px;
        opacity: 0.64;
        font-family: 'NunitoSans', sans-serif;
        font-size: 26px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: right;
        color: #37474f;
    }
    .Price-Content>.Total-Content {
        font-family: 'NunitoSans', sans-serif;
        font-size: 20px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: black;
    }
    .Forward-Buttons{
        margin: auto;
        margin-top:32px;
        margin-bottom: 52px;
        height:48px;
        align-items: center;
        width:80%;
        
        display:flex;
        justify-content: space-between;
    }
    .Continue{
        cursor: pointer;
        width: 216px;
        height: 48px;
        border-radius: 4px;
        border: solid 1px #979797;
        display:flex;
        justify-content: center;
        align-items: center;
      }
    .Continue div{

        font-family: 'NunitoSans',sans-serif;
        font-size: 14px;
        font-weight: bold;
        color: #2196f3;
    }
    .Checkout{
        cursor: pointer;
        width: 204px;
        color:white;
        height: 48px;
        border-radius: 4px;
        background-image: linear-gradient(103deg, #4f7dff, #0231b7);
        display:flex;
        justify-content: center;
        align-items: center;
    }
    .Checkout div{
      
        font-family: 'NunitoSans',sans-serif;
        font-size: 16px;
        font-weight: bold;
    }
    .Forward-Buttons-Mobile{
        display:none;
    }
}
@media only screen and (max-width:768px) {
    
    .Price-Calculation{
        height: 159px;
        width: 95%;
        justify-content: center;
    }
    .Price-Listing {
        display: flex;
        width: 90%;
        justify-content: space-between;
        height: 100%;
    }
    .Price-Content>div {
        opacity: 0.64;
        font-family: 'NunitoSans', sans-serif;
        width: 47px;
        height: 16px;
        font-size: 12px;
        font-weight: 600;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #37474f;
    }
    .Price-Value>div {
        width: 128px;
        opacity: 0.64;
        font-family: 'NunitoSans', sans-serif;
        font-size: 12px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: right;
        color: #37474f;
    }
    .Price-Content>.Total-Content {
        font-family: 'NunitoSans', sans-serif;
        font-size: 14px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: black;
    }
    .Forward-Buttons-Mobile{
        margin: auto;
        margin-top:32px;
        margin-bottom: 52px;
        height:48px;
        align-items: center;
        width:80%;
        
        display:flex;
        justify-content: space-between;
    }
    .Continue-Mobile{
        cursor: pointer;
        width: 80px;
        height: 40px;
        display:flex;
        justify-content: center;
        align-items: center;
      }
    .Continue-Mobile div{
        font-family: 'NunitoSans',sans-serif;
        font-size: 14px;
        font-weight: bold;
        color: #2196f3;
    }
    .Checkout-Mobile{
        cursor: pointer;
        width: 246px;
        height: 40px;
        border-radius: 20px;
        background-image: linear-gradient(99deg, #4d7bfd, #0231b7);
        display:flex;
        justify-content: center;
        align-items: center;
    }
    .Checkout-Mobile div{
        color: white;
        font-family: 'NunitoSans',sans-serif;
        font-size: 14px;
        font-weight: bold;
    }
    .Forward-Buttons{
        display:none;
    }
   
}
.Cart-Title {
    height: 80px;
    background-color: #ffffff;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.05);
    font-family: 'NunitoSans', sans-serif;
    
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #78909c;
    padding-top: 23px;
    padding-left: 10%;
    box-sizing: border-box;
}

.Price-Calculation {
    
    margin: auto;
    margin-top: 10px;
    display: flex;

    align-items: center;
    background-color: #f7f9f9;
    box-sizing: border-box;
}

.Price-Content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.Price-Value {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}


.Price-Value>.Total-Price {
    color: black;
}
