
.Payment-Mobile-Input{
    display:flex;
    flex-direction: column;
    
}
.Payment-Mobile-Card_number{
    display:flex;
    flex-wrap: wrap;
    border: solid 1px #90a4ae;
    padding:10px;
    box-sizing: border-box;
    height:50px;
    
    
}

.Payment-Mobile-Card_number input{
    text-align: center;
    width:20%;
    font-size: 16px;
    border:none;
    outline:none;

}
.Payment-Mobile-Card_number p{
    margin-top:3px;
}