.Review-Content {
    width: 80%;
    margin: auto;
}

.Review-Content-Right {
    width: 49%;
    float: left;
    background-color: #f8fafb;
    margin-top: 20px;
    margin-bottom: 30px;
    padding-bottom: 27px;
}

.Review-Content-Left {
    margin: auto;
    margin-top: 20px;
    width: 80%;
}

.Review-Data {
    width: 49%;
    box-sizing: border-box;
    background-color: #f8fafb;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    float: right;
    padding: 30px;
}

.Shipping-Address-Heading, .Review-Payment-Heading, .Billing-Address-Heading {
    font-size: 16px;
    font-family: 'NunitoSans', sans-serif;
    font-weight: bold;
    color: #263238;
}

.Review-Shipping-Address-Content, .Review-Payment-Details, .Billing-Address-Details {
    font-family: "NunitoSans", sans-serif;
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 40px;
    color: #263238;
}

.Review-Payment-Details {
    display: flex;
    align-items: center;
}

.Review-Payment-Details span {
    margin-left: 10px;
}

.Divider-Line-Review {
    height: 1px;
    background-color: rgba(38, 50, 56, 0.12);
}