.Shipping-Content {
    width: 80%;
    margin: auto;
}

.Shipping-Content-Right {
    width: 49%;
    float: right;
    background-color: #f8fafb;
    margin-top: 20px;
    margin-bottom: 30px;
    padding-bottom: 27px;
}

.Shipping-Content-Left {
    margin-top: 20px;
    float: left;

    width: 49%;
}
.Shipping-Login{
    display:flex;
    flex-direction:column;
    align-items: space-around;
    margin:auto;
}