
.Checkout-Status{
    position: relative;
    display: flex;
    justify-content: space-around;
}
.Status-Line{
    position: absolute;
    background-color: rgba(38, 50, 56, 0.12);
    height: 1px;
    width:69%;
    top:15px;
    z-index: -1;
}
.Shipping-Status,.Payment-Status,.Review-Status{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Shipping-Status-Icon,.Review-Status-Icon, .Payment-Status-Icon{
    width: 33px;
    height: 33px;
    background-color: #cfd8dc;
    display: flex;
    font-size: 18px;
    font-family: 'NunitoSans',sans-serif;
    font-weight: 600;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    color:white;
}