i {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
@media only screen and (min-width:768px){
    .Menu-Items {
        display: flex;
        width: 90%;
        justify-content: space-around;
        font-family: 'Noto Sans', sans-serif;
        padding-top: 20px;
        padding-bottom: 60px;
    }
}
@media only screen and (max-width:768px){
    .Menu-Items {
        display: flex;
        flex-direction: column;
        width: 90%;
        justify-content: space-around;
        font-family: 'Noto Sans', sans-serif;
        padding-top: 20px;
        padding-bottom: 60px;
        margin:auto;
    }
}
.Menu-Window-Container {
    position: fixed;
    z-index: 20;
    top:120px;
    width: 100%;
    background-color: white;
}

.Menu-Items {
    user-select: none;
    display: flex;
    width: 90%;
    justify-content: space-around;
    font-family: 'Noto Sans', sans-serif;
    padding-top: 20px;
    padding-bottom: 60px;
}
.Menu-Items h3{
    margin-top:30px;
    margin-bottom: 30px;
}

.Menu-Items span,.Menu-Items p {
    cursor: pointer;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 3.33;
    letter-spacing: 1px;
    color: #33333a;
}
.Menu-Items p{
    padding-left:15px;
    opacity: 0.7;
    
}
.Menu-Items p:hover{
    padding-left:15px;
    opacity: 1;
    
}